<launch>

  <arg name="drone_name" default="C0025"/>
  <arg name="parent" default="store"/>
  <arg name="odomtf_xyzypr" value="0 0 0 0 0 0" />

  <!-- Store frame to odom frame -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="$(arg parent)_$(arg drone_name)_odom_tf"
        args="$(arg odomtf_xyzypr) $(arg parent) $(arg drone_name)_odom" />

  <!-- body frame to laser frame -->
  <node pkg="tf2_ros" type="static_transform_publisher"
    name="$(arg drone_name)_bl_lidar_tf"
    args="0 0 0 0.0872665 3.1416 0 $(arg drone_name)_bl laser_frame" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher"
        name="laser_hector_frame_tf"
        args="0 0 0 0 0 0 laser_hector_frame laser_frame" /> -->

  <!-- Convert laser msg type to pcl2 -->
  <include file="$(find system_config)/launch/simulation/laser_to_cloud.launch" > 
    <arg name="lidar_frame_id" value="laser_frame" />
  </include>

  <!-- OD node -->
  <include file="$(find mapper)/launch/mapper.launch">
    <arg name="namespace"              value="cinderella" />
    <arg name="launch_rviz"            value="true" />
    <arg name="process_pcl_at_startup" value="true" />
    <arg name="map_3d"                 value="false" />
    <arg name="inertial_frame_id"      value="/store" />
    <arg name="lidar_frame_id"         value="['/laser_frame']" />
    <arg name="lidar_names"            value="['/laser/cloud']" />
    <arg name="robot_frame_id"         value="$(arg drone_name)_bl" />
    <arg name="max_range"              value="6.0" />
    <arg name="min_range"              value="0.25" />
  </include>


</launch>
