<launch>

  <arg name="parent" default="store"/>
  <arg name="bag_path" default="/home/marcelino/Downloads/bags/PCS_OD/raw_bags_OD_tests"/>

  <arg name="drone_name" default="C0021"/>
  <arg name="bag_name" default="flight_2020-04-28-22-07-42.bag"/>
  <arg name="bag_time" default="481"/>

  <node name="playbag" pkg="rosbag" type="play"
      args="$(arg bag_path)/$(arg bag_name) -s $(arg bag_time) -r 1 -d 2" />

  <!-- Drone static transforms -->
  <include file="$(find system_config)/launch/templates/drone_static_transforms.launch" >
        <arg name="parent" value="store" />
        <arg name="drone_name" value="$(arg drone_name)" />
        <arg name="odomtf_xyzypr" value="0 0 0 0 0 0" />
        <arg name="is_simulation" value="false" />
  </include>

  <!-- Basestation static transforms -->
  <include file="$(find system_config)/launch/stores/pensa_transform_server.launch" >  
  </include>  

  <!-- Launch rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mapper)/cfg/mapper.rviz"/>

</launch>
