<launch>
  <param name="use_sim_time" value="true"/>  

  <param name="robot_description"
    textfile="$(find mapper)/urdf/cinderella_new.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- Store frame -->
  <node name="store_to_vislam" pkg="tf2_ros" type="static_transform_publisher" output="screen" 
  args="0 0 0 3.141593 0 0 store vislam"/>

  <!-- Map frame -->
  <!-- This frame is kept for old bags, but we won't need it anymore for future bags -->
  <node name="vislam_to_map" pkg="tf2_ros" type="static_transform_publisher" output="screen" 
  args="0 0 0 0 0 0 store map"/>

    <!-- publish odom with twist in body frame to base_link -->
  <!-- <node name="odom_in_body" pkg="odom_relay"
    type="odom_relay_twist_body" /> -->

    <!-- Publish tf from odometry origin to base_link link -->
  <node pkg="odom_relay" type="odom_relay_tf" name="odom_tf"
    output="screen">
    <param name="odom_topic" value="/vislam/odometry"/> 
    <param name="frame_id" value="vislam"/> 
    <param name="child_frame_id" value="base_link_vislam"/> 
  </node>

  <!-- <node type="laser_scan_assembler" pkg="laser_assembler"
        name="my_assembler">
    <remap from="scan" to="/laser/scan"/>
    <param name="max_scans" type="int" value="1" />
    <param name="fixed_frame" type="string" value="laser_link" />
  </node> -->

  <include file="$(find mapper)/launch/mapper.launch">
    <arg name="namespace"              value="cinderella" />
    <arg name="launch_rviz"            value="true" />
    <arg name="process_pcl_at_startup" value="true" />
    <arg name="map_3d"                 value="false" />
    <arg name="inertial_frame_id"      value="/store" />
    <arg name="lidar_frame_id"         value="['/laser_hector_frame']" />
    <arg name="lidar_names"            value="['/laser/cloud']" />
    <arg name="robot_frame_id"         value="/base_link" />
    <arg name="max_range"              value="6.0" />
    <arg name="min_range"              value="0.25" />
  </include>

    <!-- <node pkg="motion_planner" type="motion_planner_node" name="motion_planner" output="screen" required = "true">  </node> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find mapper)/cfg/mapper.rviz" /> -->


</launch>
